<form #setupMasterForm="ngForm">
  <div class="col-sm-12 dividebar">
    <div class="row">
      <h6>Setup Details</h6>
    </div>
    <div class="col-sm-12 mph-0">
      <div class="row mph-0">
        <div class="col-sm-12 mph-0">
          <div class="col-sm-6 mph-0 pb20">
          </div>
          <div class="col-sm-2 mph-0 pb20">
          </div>
          <div class="col-sm-4 mph-0 f-r content-right pb20">
            <button class="btn-text" (click)="Getformaccess()"><i class="fas fa-eye"></i> View Access</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-10">
            <mat-form-field appearance="outline">
              <mat-label>Organization</mat-label>
              <input required [(ngModel)]="orgname" disabled name="ognames" matInput placeholder="Organization">
            </mat-form-field>
          </div>
          <div class="col-sm-2" style="margin-top:1%">
            <button type="button" class="btn btn-warning-default grab" (click)="Clicksetupdetails()"> View </button>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <mat-form-field class="mat-width" appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select required [(ngModel)]="Country_M" (ngModelChange)="countrychoose()" name="Countries" placeholder="Select">
            <mat-option *ngFor="let VAs of VAname" [value]="VAs.Value">{{ VAs.Text}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <mat-form-field appearance="outline">
          <mat-label>Currency</mat-label>
          <input [(ngModel)]="code" name="PG" matInput placeholder="Enter Values" disabled>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-label><b>Flag : </b><span style="font-size:30px" class="{{flagcode}}"></span></mat-label>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-3">
            <mat-label>UTC Time (HH:MM): </mat-label>
          </div>
          <div class="col-sm-3">
            <mat-form-field appearance="outline">
              <input required [(ngModel)]="HH" name="HH" (keypress)="RestrictNegativeValues1($event)" (keyup)="Restrict($event);" matInput placeholder="HH">
            </mat-form-field>
          </div>
          <div class="col-sm-1">
            <p style="margin-top: 10px"><strong>:</strong></p>
          </div>
          <div class="col-sm-3">
            <mat-form-field appearance="outline">
              <input required [(ngModel)]="MM" name="MM" (keypress)="RestrictNegativeValues1m($event)" (keyup)="Restrictm($event);" matInput placeholder="mm">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline">
          <mat-label><strong>Notification applicable</strong></mat-label>
          <mat-select required [(ngModel)]="nfa" name="nfas">
            <mat-option value="true">Yes</mat-option>
            <mat-option value="false">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <h6><b>Logo Path</b></h6>
    </div>
    <div class="row" style="margin:2%;padding-bottom:18px;border-radius:8px">
      <div class="col-sm-5" style="height: 90px;" *ngIf="hiddenimageurlss">
        <img id="odslitimg" *ngFor='let urlssl of urls' [src]="urlssl" height="95" width="95" style="margin:6px" #odslitimg> <br />
        <span><mat-icon *ngFor='let urlssl of urls; index as i' data-toggle="tooltip" title="Select" (click)="removeOpticalsl(i)"> cancel </mat-icon></span>
        <input type='file' #file (change)="onSelectFile($event)">
      </div>

      <div class="col-sm-3" *ngIf="hiddenimageurl">
        <img [src]="transform()" style="height:30%;width:30%;border-radius:8px;border:2px solid gray">
      </div>


    </div>

    <div class="col-sm-12 pb25">
      <div class="content-right sub-section btn-wrap">
        <button type="button" class="btn btn-warning-default" (click)="Cancel()"> Cancel </button>
        <button class="success btn btn-primary" *ngIf="hidesubmit" [disabled]="disSubmit" (click)="submit(setupMasterForm)">Submit</button>
        <button class="success btn btn-primary" *ngIf="hideupdate" [disabled]="disprint" (click)="Update(setupMasterForm)">Submit</button>
      </div>
    </div>

  </div>
</form>



<div class="modal cust-model" role="dialog" [ngStyle]="{'display':ModalDatecheckundefined}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="ModalDatecheckundefinedClosesss()">&times;</button>
        <h4 class="modal-title text-left">Information</h4>
      </div>
      <div class="modal-body">
        <p>
          Data Saved Successfully
        </p>
      </div>
      <div class="modal-footer">
        <button autofocus class="btn btn-success" data-dismiss="modal" (click)="ModalDatecheckundefinedClosesss()">OK</button>
      </div>
    </div>
  </div>
</div>


<div class="modal cust-model" role="dialog" [ngStyle]="{'display':ErrorModalDatecheckundefined}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="ErrorModalDatecheckundefinedClosesss()">&times;</button>
        <h4 class="modal-title text-left">Information</h4>
      </div>
      <div class="modal-body">
        <p>
          Invalid Data
        </p>
      </div>
      <div class="modal-footer">
        <button autofocus class="btn btn-success" data-dismiss="modal" (click)="ErrorModalDatecheckundefinedClosesss()">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal cust-model" role="dialog" [ngStyle]="{'display':Setupblock}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="SetupblockClosesss()">&times;</button>
        <h4 class="modal-title text-left">Information</h4>
      </div>
      <div class="modal-body">
        <div class="row heightAuto-250px">
          <table class="custom-table withoutbackgroung search-table table-bordered">
            <thead>
              <tr>
                <th>Action</th>
                <th>Sno</th>
                <th>Company Name</th>
                <!--<th>Pediatric Age</th>-->
                <th>Country</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i = index;let data of setupdata">
                <td><mat-checkbox (click)="getdata(data)"></mat-checkbox></td>
                <td>{{i+1}}</td>
                <td>{{data.cmp}}</td>
                <!--<td>{{data.age}}</td>-->
                <td>{{data.country}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button autofocus class="btn btn-danger" data-dismiss="modal" (click)="SetupblockClosesss()">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal cust-model" role="dialog" [ngStyle]="{'display':accesspopup}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalcloseAccessOk()">&times;</button>
        <h4 class="modal-title text-left">Setup - View Access</h4>
      </div>
      <div class="modal-body">
        <table align="center" class="table custom-table">
          <thead>
            <tr>
              <th>Add</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Export</th>
              <th>Print</th>

            </tr>
          </thead>
          <tbody>


            <tr *ngFor="let x of accessdata; index as i">
              <td>
                <mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox>
              </td>
              <td>
                <mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" autofocus (click)="modalcloseAccessOk()">Ok</button>
      </div>
    </div>
  </div>
</div>
