<div class="col-sm-12">
  <div class="row">
    <h6 class="card-header">Optical Management Dashboard</h6>
  </div>

  <div class="row">
    <div class="col-sm-6 ui-state-default height-300px">
      <div class="row">
        <div class="row ml-1p mt-2p">
          <div class="col-sm-4 ">
            <div class='input-group date'>
              <input [(ngModel)]="MFromDate" name="FromDate" placeholder="From Period"
                     class="form-control"
                     #dpM="bsDatepicker"
                     [maxDate]="maxDatef"
                     bsDatepicker
                     autocomplete="off"
                     [bsConfig]="{ dateInputFormat: 'MMM-YYYY',isAnimated: true }"
                     (onShown)="onOpenCalendar($event)">
              <span class="input-group-addon">
                <span class="fa fa-calendar grab" (click)="dpM.toggle()" [attr.aria-expanded]="dpM.isOpen"></span>
              </span>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class='input-group date'>
              <input [(ngModel)]="MToDate" name="ToDate" placeholder="To Period"
                     class="form-control"
                     #dpM1="bsDatepicker"
                     [maxDate]="maxDatef"
                     bsDatepicker
                     autocomplete="off"
                     [bsConfig]="{ dateInputFormat: 'MMM-YYYY',isAnimated: true }"
                     (onShown)="onOpenCalendar($event)">
              <span class="input-group-addon">
                <span class="fa fa-calendar grab" (click)="dpM1.toggle()" [attr.aria-expanded]="dpM1.isOpen"></span>
              </span>
            </div>
          </div>
          <div class="col-sm-3">
            <button (click)="PeriodSearch()" class="success btn btn-primary">Submit</button>
          </div>
        </div>
        <div class="row mt-1p ml-1p">
          <div class="col-sm-11 heightAuto-200px">
            <table id="table" mat-table [dataSource]="dataSource" class="custom-table withoutbackgroung search-table table-bordered position-sticky">
              <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef class="width-30p">Type</th>
                <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
              </ng-container>
              <ng-container matColumnDef="SalesNos">
                <th mat-header-cell *matHeaderCellDef>Sales in Nos.</th>
                <td mat-cell *matCellDef="let element" matTooltip="View" class="cursor" (click)="ShowSalesTypeWise(element)"><a>{{element.SalesNos | number : '1.2-2'}} </a> </td>
              </ng-container>
              <ng-container matColumnDef="SaleAmount">
                <th mat-header-cell *matHeaderCellDef>Sale Amount </th>
                <td mat-cell *matCellDef="let element"  matTooltip="View Sale Amount" class="cursor" (click)="ShowSalesAmount(element)"> <a>{{element.SalesAmount | currency:Country}}</a></td>
              </ng-container>
              <ng-container matColumnDef="Collections">
                <th mat-header-cell *matHeaderCellDef>Collections</th>
                <td mat-cell *matCellDef="let element" matTooltip="View Collections" class="cursor" (click)="ShowAdvanceAmount(element)"> <a> {{element.Collections | currency:Country}} </a> </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 ui-state-default height-300px">
      <div class="row">
        <div class="row ml-1p mt-2p">
          <div class="col-sm-5">
            <label><b>Typewise & Brandwise :</b></label>
          </div>
        </div>
        <div class="row mt-1p ml-1p">
          <div class="col-sm-11 heightAuto-200px">
            <table mat-table [dataSource]="TypeAndBrandSource" class="custom-table withoutbackgroung search-table table-bordered position-sticky">
              <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef class="width-30p">Description</th>
                <td mat-cell *matCellDef="let element"> {{element.Brand}} </td>
              </ng-container>
              <ng-container matColumnDef="SalesNos">
                <th mat-header-cell *matHeaderCellDef>Sales in Nos.</th>
                <td mat-cell *matCellDef="let element"  >{{element.SalesNos | number : '1.2-2'}}</td>
              </ng-container>
              <ng-container matColumnDef="SaleAmount">
                <th mat-header-cell *matHeaderCellDef>Sale Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.SalesAmount | currency:Country}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="TypeAndBrandColumns;sticky:true"></tr>
              <tr mat-row *matRowDef="let row; columns: TypeAndBrandColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="row">
      <div class="col-sm-12 ui-state-default height-400px">
        <div class="row ml-1p mt-2p">
          <div class="col-sm-5">
            <label><b>Optical Bill Register :</b></label>
          </div>
        </div>
        <div class="col-sm-12  mt-1p ml-1p heightAuto-300px">
          <table mat-table [dataSource]="OpbillSource" class="custom-table withoutbackgroung search-table table-bordered position-sticky width-110p ">
            <ng-container matColumnDef="BillNo">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">BillNo</th>
              <td mat-cell *matCellDef="let element"> {{element.BillNo}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="BillNos">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="width-9p"> BillNo </th>
            </ng-container>
            <ng-container matColumnDef="BillDate">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Bill Date</th>
              <td mat-cell *matCellDef="let element">{{element.BillDate | date:'dd-MMM-y'}}</td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="BillDates">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="width-8p"> BillDate </th>
            </ng-container>
            <ng-container matColumnDef="CustomerName">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Customer Name</th>
              <td mat-cell *matCellDef="let element"> {{element.CustomerName}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="CustomerNames">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="width-12p"> Customer Name </th>
            </ng-container>
            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Description</th>
              <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="Descriptions">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="width-8p"> Description </th>
            </ng-container>
            <ng-container matColumnDef="Brand">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Brand</th>
              <td mat-cell *matCellDef="let element"> {{element.Brand}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="Brands">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="width-6p"> Brand </th>
            </ng-container>
            <ng-container matColumnDef="UOM">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">UOM</th>
              <td mat-cell *matCellDef="let element"> {{element.UOM}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="UOMs">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="width-5p"> UOM </th>
            </ng-container>
            <ng-container matColumnDef="Qty">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Qty</th>
              <td mat-cell *matCellDef="let element"> {{element.Qty | number : '1.2-2'}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="Qtys">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="width-4p"> Qty </th>
            </ng-container>
            <ng-container matColumnDef="Rate">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Rate</th>
              <td mat-cell *matCellDef="let element" class="text-end"> {{element.Rate | number : '1.2-2'}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="Rates">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="width-6p"> Rate </th>
            </ng-container>
            <ng-container matColumnDef="Amount">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Amount</th>
              <td mat-cell *matCellDef="let element" class="text-end"> {{element.Amount | number : '1.2-2'}} </td>
              <td mat-footer-cell *matFooterCellDef class="text-end"><b>{{getAmount() | currency:Country}}</b> </td>
            </ng-container>
            <ng-container matColumnDef="Amounts">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="width-6p"> Amount </th>
            </ng-container>
            <ng-container matColumnDef="DiscPer">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Disc %</th>
              <td mat-cell *matCellDef="let element"> {{element.DisPerc | number : '1.2-2'}} </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="DiscPers">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="width-4p"> Disc % </th>
            </ng-container>
            <ng-container matColumnDef="DisAmount">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Discount Amount</th>
              <td mat-cell *matCellDef="let element" class="text-end"> {{element.DisAmount | number : '1.2-2'}} </td>
              <td mat-footer-cell *matFooterCellDef class="text-end"><b>{{getDiscAmount() | currency:Country}}</b> </td>
            </ng-container>
            <ng-container matColumnDef="DisAmounts">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="width-5p"> Disc. Amount </th>
            </ng-container>
            <ng-container matColumnDef="Grossamount">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Gross Amount</th>
              <td mat-cell *matCellDef="let element" class="text-end"> {{element.GrossAmount | number : '1.2-2'}} </td>
              <td mat-footer-cell *matFooterCellDef class="text-end"><b>{{getGrossAmount() | currency:Country}}</b> </td>
            </ng-container>
            <ng-container matColumnDef="Grossamounts">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" class="width-8p"> Gross Amount </th>
            </ng-container>
            <ng-container matColumnDef="CGST">
              <th mat-header-cell *matHeaderCellDef class="top-32px">%</th>
              <td mat-cell *matCellDef="let element;let id = index;">{{element.CGST | number : '1.2-2'}}</td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <ng-container matColumnDef="CGSTValue">
              <th mat-header-cell *matHeaderCellDef class="top-32px"> Amount</th>
              <td mat-cell *matCellDef="let element;let id = index;">{{element.CGSTValue | number : '1.2-2'}}</td>
              <td mat-footer-cell *matFooterCellDef><b>{{GetCGSTAmount() | currency:Country}}</b> </td>
            </ng-container>
            <ng-container matColumnDef="SGST">
              <th mat-header-cell *matHeaderCellDef class="top-32px">%</th>
              <td mat-cell *matCellDef="let element;let id = index;">{{element.SGST | number : '1.2-2'}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="SGSTValue">
              <th mat-header-cell *matHeaderCellDef class="top-32px"> Amount</th>
              <td mat-cell *matCellDef="let element;let id = index;">{{element.SGSTValue | number : '1.2-2'}}</td>
              <td mat-footer-cell *matFooterCellDef><b>{{GetSGSTAmount() | currency:Country}}</b></td>
            </ng-container>
            <ng-container matColumnDef="IGST">
              <th mat-header-cell *matHeaderCellDef class="top-32px">%</th>
              <td mat-cell *matCellDef="let element;let id = index;">{{element.IGST | number : '1.2-2'}}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="IGSTValue">
              <th mat-header-cell *matHeaderCellDef class="top-32px"> Amount</th>
              <td mat-cell *matCellDef="let element;let id = index;">{{element.IGSTValue | number : '1.2-2'}}</td>
              <td mat-footer-cell *matFooterCellDef><b>{{GetIGSTAmount() | currency:Country}}</b></td>
            </ng-container>
            <ng-container matColumnDef="CGSTTax">
              <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> CGST Tax </th>
            </ng-container>
            <ng-container matColumnDef="SGSTTax">
              <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> SGST Tax </th>
            </ng-container>
            <ng-container matColumnDef="IGSTTax">
              <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> IGST Tax </th>
            </ng-container>
            <ng-container matColumnDef="NetAmount">
              <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Net Amount</th>
              <td mat-cell *matCellDef="let element" class="text-end"> {{element.NetAmount | number:'1.2-2'}} </td>
              <td mat-footer-cell *matFooterCellDef class="text-end"><b>{{getNetAmount() | currency:Country}}</b> </td>
            </ng-container>
            <ng-container matColumnDef="NetAmounts">
              <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Net Amount </th>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['BillNos','BillDates','CustomerNames','Descriptions','Brands',
                  'UOMs','Qtys','Rates','Amounts','DiscPers','DisAmounts','Grossamounts',
                  'CGSTTax', 'SGSTTax','IGSTTax','NetAmounts']; sticky: true"></tr>
            <tr mat-header-row *matHeaderRowDef="OpbillColumns;sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: OpbillColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="OpbillColumns;sticky: true"></tr>
          </table>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-12 ui-state-default height-400px">
      <div class="row ml-1p mt-2p">
        <div class="col-sm-5">
          <label><b>Collections Amount :</b></label>
        </div>
      </div>
      <div class="col-sm-12  mt-1p ml-1p heightAuto-300px">
        <table mat-table [dataSource]="AdvanceAmountSource" class="custom-table withoutbackgroung search-table table-bordered position-sticky width-110p " multiTemplateDataRows>
          <ng-container matColumnDef="ReceiptNo">
            <th mat-header-cell *matHeaderCellDef>Receipt No</th>
            <td mat-cell *matCellDef="let element;let i = dataIndex" [attr.rowspan]="getRowSpan('ReceiptNos',i)" [style.display]="getRowSpan('ReceiptNos', i) ? '' : 'none'"> {{element.ReceiptNo}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="ReceiptDate">
            <th mat-header-cell *matHeaderCellDef>Receipt Date</th>
            <td mat-cell *matCellDef="let element;let i = dataIndex" [attr.rowspan]="getRowSpan('ReceiptDates',i)" [style.display]="getRowSpan('ReceiptDates', i) ? '' : 'none'">{{element.ReceiptDate | date:'dd-MMM-y'}}</td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="CustomerName">
            <th mat-header-cell *matHeaderCellDef>Customer Name</th>
            <td mat-cell *matCellDef="let element;let i = dataIndex" [attr.rowspan]="getRowSpan('CustomerNames',i)" [style.display]="getRowSpan('CustomerNames', i) ? '' : 'none'"> {{element.CustomerName}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="SaleAmount">
            <th mat-header-cell *matHeaderCellDef>Sale Amount</th>
            <td mat-cell *matCellDef="let element;let i = dataIndex" [attr.rowspan]="getRowSpan('SaleAmounts',i)" [style.display]="getRowSpan('SaleAmounts', i) ? '' : 'none'" class="text-end"> {{element.SaleAmount | number:'1.2-2'}} </td>
            <td mat-footer-cell *matFooterCellDef class="text-end"><b>{{getAdvanceSaleAmount() | currency:Country}}</b> </td>
          </ng-container>
          <ng-container matColumnDef="CollectedAmount">
            <th mat-header-cell *matHeaderCellDef>Collected Amount</th>
            <td mat-cell *matCellDef="let element;let i = dataIndex" [attr.rowspan]="getRowSpan('CollectedAmounts',i)" [style.display]="getRowSpan('CollectedAmounts', i) ? '' : 'none'" class="text-end"> {{element.CollectedAmount | number:'1.2-2'}} </td>
            <td mat-footer-cell *matFooterCellDef class="text-end"><b>{{getAdvanceCollectedAmount() | currency:Country}}</b> </td>
          </ng-container>
          <ng-container matColumnDef="PayMode">
            <th mat-header-cell *matHeaderCellDef>Pay Mode</th>
            <td mat-cell *matCellDef="let element"> {{element.PayMode}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="InstrumentNo">
            <th mat-header-cell *matHeaderCellDef>Instrument No</th>
            <td mat-cell *matCellDef="let element"> {{element.InstrumentNo}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="InstrumentDate">
            <th mat-header-cell *matHeaderCellDef>Instrument Date</th>
            <td mat-cell *matCellDef="let element"> {{element.InstrumentDate | date:'dd-MMM-y'}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="BankName">
            <th mat-header-cell *matHeaderCellDef>Bank Name</th>
            <td mat-cell *matCellDef="let element"> {{element.BankName}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="Expirydate">
            <th mat-header-cell *matHeaderCellDef>Expiry date</th>
            <td mat-cell *matCellDef="let element"> {{element.Expirydate | date:'dd-MMM-y'}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element" class="text-end"> {{element.Amount | number:'1.2-2'}} </td>
            <td mat-footer-cell *matFooterCellDef class="text-end"><b>{{getAdvanceAmount() | currency:Country}}</b> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="AdvanceAmountColumns;sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: AdvanceAmountColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="AdvanceAmountColumns;sticky: true"></tr>
        </table>
      </div>
    </div>
  </div>


  </div>
