


<form #LensFrameUploaded="ngForm">

  <div class="col-sm-12 borfiglau-0">

    <h5 class="card-header center">
      Lens / Frame Upload
    </h5>

    <div class="col-sm-12">
      <div class="row pgtop20-0">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2">
          <button class="btn-text" (click)="Getformaccess()"><i class="fas fa-eye"></i> View Access</button>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3">
          <button class="btn btn-primary" (click)="Convertexcellensframemaster()">Download Excel Format</button>
        </div>

        <div class="col-sm-3">
          <input #inputFilelens type="file" (change)="onChangelens($event)" style="display: none">
          <button class="btn btn-warning-default" (click)="inputFilelens.click()">Choose file to upload</button>
        </div>

        <div class="col-sm-3">


          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <mat-label class="refcol">Total Items</mat-label>
              </div>
            </div>
            <div class="col-sm-6">
              <mat-label><b>:</b>&nbsp;{{TotoalItems}}</mat-label>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <mat-label class="refcol">Uploaded items</mat-label>
              </div>
            </div>
            <div class="col-sm-6">
              <mat-label><b>:</b>&nbsp;{{Uploadeditems}}</mat-label>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <mat-label class="refcol">Items unable to upload</mat-label>
              </div>
            </div>
            <div class="col-sm-6">
              <mat-label><b>:</b>&nbsp;{{UnUplodeditems}}</mat-label>
            </div>
          </div>

        </div>

      </div>
    </div>


    <div class="col-sm-12 mt-1p">

      <div class="row heightAuto-350px">
        <table mat-table matSort [dataSource]="dataSourcesq" class="custom-table withoutbackgroung search-table table-bordered">


          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Type</th>
            <td mat-cell *matCellDef="let element ;let i = index;">{{element.Type}}</td>
          </ng-container>

          <ng-container matColumnDef="Types">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Type </th>
          </ng-container>

          <ng-container matColumnDef="Brand">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Brand</th>
            <td mat-cell *matCellDef="let element ;let i = index;">{{element.Brand}}</td>
          </ng-container>

          <ng-container matColumnDef="Brands">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Brand </th>
          </ng-container>

          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Description</th>
            <td mat-cell *matCellDef="let element ;let i = index;">{{element.Sph}} {{element.Cyl}} {{element.FrameShape}} {{element.FrameType}}<br />{{element.Axis}} {{element.Add}} {{element.FrameStyle}} {{element.FrameWidth}}</td>
          </ng-container>

          <ng-container matColumnDef="Descriptions">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Description </th>
          </ng-container>


          <ng-container matColumnDef="CostPrice">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Cost Price</th>
            <td mat-cell *matCellDef="let element ;let i = index;">{{element.CostPrize | number : '1.2-2'}}</td>
          </ng-container>

          <ng-container matColumnDef="CostPrices">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Cost Price</th>
          </ng-container>

          <ng-container matColumnDef="InclusiveTax">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Inclusive Tax</th>
            <td mat-cell *matCellDef="let element ;let i = index;">{{element.InclusiveTax}}</td>
          </ng-container>

          <ng-container matColumnDef="InclusiveTaxs">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Inclusive Tax</th>
          </ng-container>

          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Selling Price</th>
            <td mat-cell *matCellDef="let element ;let i = index;">{{element.Prize | number : '1.2-2'}}</td>
          </ng-container>

          <ng-container matColumnDef="Prices">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Selling Price</th>
          </ng-container>

          <ng-container matColumnDef="UOM">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">UOM</th>
            <td mat-cell *matCellDef="let element ;let i = index;">{{element.UOM}}</td>
          </ng-container>

          <ng-container matColumnDef="UOMs">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> UOM </th>
          </ng-container>

          <ng-container matColumnDef="TaxDescription">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element;let id = index;" contenteditable="false">
              <div class="row">
                <div *ngIf="element.TaxDescription != null && (element.GSTPercentage != null && element.GSTPercentage != 0)" class="col-sm-12">
                  {{element.TaxDescription}}
                </div>
              </div>
            </td>
          </ng-container>


          <ng-container matColumnDef="GST">
            <th mat-header-cell *matHeaderCellDef>GST %</th>
            <td mat-cell *matCellDef="let element;let id = index;" contenteditable="false">
              <div class="row">
                <div *ngIf="(element.GSTPercentage != null && element.GSTPercentage != 0) != null && element.TaxDescription != null" class="col-sm-12">
                  {{element.GSTPercentage | number : '1.2-2'}}
                </div>
                <br />
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="IGST">
            <th mat-header-cell *matHeaderCellDef>IGST %</th>
            <td mat-cell *matCellDef="let element;let id = index;" contenteditable="false">
              <div class="row">
                <div *ngIf="(element.GSTPercentage != null && element.GSTPercentage != 0) != null && element.TaxDescription != null" class="col-sm-12">
                  {{element.GSTPercentage | number : '1.2-2'}}
                </div>
                <br />
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">Status</th>
            <td mat-cell *matCellDef="let element ;let i = index" [style.color]="getColor(element.Status)">{{element.Status}}</td>
          </ng-container>

          <ng-container matColumnDef="Statuss">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Status </th>
          </ng-container>


          <ng-container matColumnDef="header-row-third-group">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"> Tax </th>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['Types','Brands','Descriptions','CostPrices','InclusiveTaxs','Prices','UOMs','header-row-third-group','Statuss'];sticky:true"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumnssq;sticky:true"></tr>
          <tr mat-row *matRowDef="let row;  let even = even;columns: displayedColumnssq;" [ngClass]="{gray: even}"></tr>
        </table>

      </div>

    </div>


  </div>

  <div class="col-sm-12 m-3">
    <div class="col-sm-12 pb25">
      <div class="col-sm-4  sub-section btn-wrap f-r">
        <button type="button" class="btn btn-warning-default" (click)="CancelClk()"> Cancel </button>
        <button type="submit" class="success btn btn-primary  ml-2p" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>

</form>

<!----*LensframemasterTemplate-table*---->
<div class="co-sm-12" style="display:none">
  <div class="row" id="LensFramemasterTemplate-table">
    <table class="custom-table withoutbackgroung search-table table-bordered" style="margin-top:5%">
      <thead>
        <tr>
          <th>Type *</th>
          <th>Brand *</th>
          <th>Sph</th>
          <th>Cyl</th>
          <th>Axis</th>
          <th>Add</th>
          <th>FrameShape</th>
          <th>FrameType</th>
          <th>FrameWidth</th>
          <th>FrameStyle</th>
          <th>Model</th>
          <th>Index</th>
          <th>Color</th>
          <th>Size</th>
          <th>CostPrice *</th>
          <th>InclusiveTax </th>
          <th>SellingPrice *</th>
          <th>HSNNo</th>
          <th>TaxDescription</th>
          <th>GST</th>
          <th>IGST</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>varchar</th>
          <th>varchar</th>
          <th>varchar</th>
          <th>varchar</th>
          <th>varchar</th>
          <th>varchar</th>
          <th>varchar</th>
          <th>varchar</th>
          <th>varchar</th>
          <th>varchar</th>
          <th>varchar</th>
          <th>varchar</th>
          <th>varchar</th>
          <th>varchar</th>
          <th>number</th>
          <th>varchar</th>
          <th>number</th>
          <th>varchar</th>
          <th>varchar</th>
          <th>number</th>
          <th>number</th>
        </tr>
      </tbody>
    </table>
    <br />
    <table class="custom-table withoutbackgroung search-table table-bordered" style="margin-top:5%">
      <thead>
        <tr>
          <th>Type</th>
          <th>Brand</th>
          <th>Sph</th>
          <th>Cyl</th>
          <th>Axis</th>
          <th>Add</th>
          <th>FrameShape</th>
          <th>FrameType</th>
          <th>FrameWidth</th>
          <th>FrameStyle</th>
          <th>Model</th>
          <th>Index</th>
          <th>Color</th>
          <th>Size</th>
          <th>CostPrice</th>
          <th>InclusiveTax</th>
          <th>SellingPrice</th>
          <th>HSNNo</th>
          <th>TaxDescription</th>
          <th>GST</th>
          <th>IGST</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Lens</td>
          <td>Trivex</td>
          <td>2.00</td>
          <td>3.00</td>
          <td>4.00</td>
          <td>5.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Nikkor</td>
          <td>1.5</td>
          <td>White</td>
          <td>8</td>
          <td>1000</td>
          <td>Yes</td>
          <td>2000</td>
          <td>803</td>
          <td>General Tax</td>
          <td>2</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Lens</td>
          <td>Polycarbonate</td>
          <td>2.00</td>
          <td>3.00</td>
          <td>4.00</td>
          <td>5.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Wide Angle</td>
          <td>1.6</td>
          <td>Gray</td>
          <td>7</td>
          <td>
            1500
          </td>
          <td>No</td>
          <td>2500</td>
          <td>808</td>
          <td>General Tax</td>
          <td>2</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Lens</td>
          <td>Bausch & Lomb </td>
          <td>2.00</td>
          <td>3.00</td>
          <td>4.00</td>
          <td>5.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Wide Angle</td>
          <td>1.8</td>
          <td>Black</td>
          <td>9</td>
          <td>
            1600
          </td>
          <td>No</td>
          <td>3000</td>
          <td>808</td>
          <td>General Tax</td>
          <td>2</td>
          <td>2</td>
        </tr>

        <tr>
          <td>Contactlens</td>
          <td>Trivex</td>
          <td>2.00</td>
          <td>3.00</td>
          <td>4.00</td>
          <td>5.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Nikkor</td>
          <td>1.5</td>
          <td>White</td>
          <td>8</td>
          <td>
            2000
          </td>
          <td>No</td>
          <td>
            2000
          </td>
          <td>803</td>
          <td>General Tax</td>
          <td>2</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Contactlens</td>
          <td>Polycarbonate</td>
          <td>2.00</td>
          <td>3.00</td>
          <td>4.00</td>
          <td>5.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Wide Angle</td>
          <td>1.6</td>
          <td>Gray</td>
          <td>7</td>
          <td>
            2100
          </td>
          <td>No</td>
          <td>
            2500
          </td>
          <td>808</td>
          <td>General Tax</td>
          <td>2</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Contactlens</td>
          <td>Bausch & Lomb </td>
          <td>2.00</td>
          <td>3.00</td>
          <td>4.00</td>
          <td>5.00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Wide Angle</td>
          <td>1.8</td>
          <td>Black</td>
          <td>9</td>
          <td>
            1400
          </td>
          <td>Yes</td>
          <td>
            3000
          </td>
          <td>808</td>
          <td>General Tax</td>
          <td>2</td>
          <td>2</td>
        </tr>

        <tr>
          <td>Frame</td>
          <td>Trivex</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>rectangular</td>
          <td>
            Floating
          </td>
          <td>
            116 mm
          </td>
          <td>
            Aviators
          </td>
          <td>Nikkor</td>
          <td>1.5</td>
          <td>White</td>
          <td>8</td>
          <td>
            2500
          </td>
          <td>Yes</td>
          <td>
            2800
          </td>
          <td>803</td>
          <td>General Tax</td>
          <td>2</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Frame</td>
          <td>Polycarbonate</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>square</td>
          <td>
            Modern
          </td>
          <td>
            115 mm
          </td>
          <td>
            Wayfarer
          </td>
          <td>Wide Angle</td>
          <td>1.6</td>
          <td>Gray</td>
          <td>7</td>
          <td>
            1700
          </td>
          <td>Yes</td>
          <td>
            2500
          </td>
          <td>808</td>
          <td>General Tax</td>
          <td>2</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Frame</td>
          <td>Bausch & Lomb </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>retro square</td>
          <td>
            Gallery
          </td>
          <td>
            114 mm
          </td>
          <td>
            Clubmaster
          </td>
          <td>Wide Angle</td>
          <td>1.8</td>
          <td>Black</td>
          <td>9</td>
          <td>
            3000
          </td>
          <td>Yes</td>
          <td>
            3500
          </td>
          <td>808</td>
          <td>General Tax</td>
          <td>2</td>
          <td>2</td>
        </tr>


      </tbody>
    </table>
  </div>
</div>





<div class="modal" role="dialog" [ngStyle]="{'display':accesspopup}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title center">Lens / Frame Upload - View Access</h5>
      </div>
      <div class="modal-body">
        <table class="custom-table withoutbackgroung search-table table-bordered">
          <thead>
            <tr>
              <th>Add</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Export</th>
              <th>Print</th>
            </tr>
          </thead>
          <tbody>


            <tr *ngFor="let x of accessdata; index as i">
              <td><mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success cursor" data-dismiss="modal" autofocus (click)="modalcloseAccessOk()">Ok</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" role="dialog" [ngStyle]="{'display':cancelblock}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" matTooltip="close" (click)="modalSuccessClosessss()">&times;</button>
        <h5 class="modal-title center">Do you want to cancel?</h5>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger cursor" data-dismiss="modal" autofocus (click)="modalcloseOk()">No</button>
        <button type="reset" class="btn btn-success cursor" data-dismiss="modal" (click)="modalSuccesssOk()">Yes</button>
      </div>

    </div>
  </div>
</div>
