<form #ExpensetranForm="ngForm">
  <div class="col-sm-12 borderline" style="margin-left:2%">
    <div class="row">
      <h6>Expense</h6>
    </div>

    <div class="row">
      <div class="col-sm-2" style="margin-left:3%">
        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input required autocomplete="off" [max]="DLDateMAXop" matInput [matDatepicker]="pickerop"
                 placeholder="Choose a date" [(ngModel)]="M_DAte" name="issuedayte" (ngModelChange)="DateChange()">
          <mat-datepicker-toggle matSuffix [for]="pickerop"></mat-datepicker-toggle>
          <mat-datepicker #pickerop></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field appearance="outline">
          <mat-label>Paid to</mat-label>
          <input autocomplete="off" [(ngModel)]="M_Paidto" name="M_paidtos" matInput placeholder="Enter Text">
        </mat-form-field>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <button class="btn btn-warning-default" (click)="Getformaccess()"><i class="fas fa-eye"></i>View Access</button>
      </div>
    </div>

    <div class="container">
      <input id="tab-1" type="radio" name="tabs" checked="checked" />
      <input id="tab-2" type="radio" name="tabs" (click)="totalamounttobepaid()" />
      <div class="tabs">
        <label for="tab-1">Expense Details</label>
        <label for="tab-2">Payment details</label>
      </div>
      <div class="content">
        <div class="tab  position-sticky width-100p ">
          <div class="col-sm-12">
            <div class="card mb-3">
              <h5 class="card-header  text-white">
                Expense
                <button style="float:right;margin-left:1%" class="btn btn-warning-default" data-toggle="tooltip" title="Add Expense Master"
                        (click)="AddExpenseMaster()">
                  Add Expense Master
                </button>
                <button style="float:right" class="btn btn-warning-default" data-toggle="tooltip" title="Add Expense details"
                        (click)="AddExpenseNewgrid()">
                  Add Item
                </button>
              </h5>
              <div class="card-body">
                <div class="row">
                  <div class="example-container mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" class="custom-table withoutbackgroung search-table table-bordered" style="width:98%">
                      <ng-container matColumnDef="Sno">
                        <th mat-header-cell *matHeaderCellDef style="width:7%"> Sno </th>
                        <td mat-cell *matCellDef="let transaction; let i = index">{{i+1}}</td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
                      <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef style="width:30%"> Description </th>
                        <td mat-cell *matCellDef="let transaction; let id =index" #ExpenseMode
                            (keyup.enter)="enterexpenseMode(id)"
                            contenteditable="true">
                          <mat-select #ExpenseModee (focus)="ExpenseModee.open()" value="{{transaction.ID}}"
                                      (openedChange)="someMethodExpenseMode(id,$event,transaction)"
                                      (selectionChange)="DescriptionChange(id,$event,transaction);ExpenseModee.close()">
                            <input matInput #inputExpensemode class="search"
                                   (input)="FIlterdatapaymode($event.target.value)" autocomplete="off">
                            <mat-option *ngFor="let Paymentsmode of expensearry" value="{{Paymentsmode.ID}}">
                              {{Paymentsmode.Description}}
                            </mat-option>
                          </mat-select>
                        </td>
                        <td mat-footer-cell *matFooterCellDef>Total</td>
                      </ng-container>
                      <ng-container matColumnDef="Amt">
                        <th mat-header-cell *matHeaderCellDef style="width:15%"> Amount </th>
                        <td mat-cell *matCellDef="let transaction; let id= index ">
                          <input type="text" matInput value="{{transaction.Amount}}" class="form-control tableinputheight"
                                 (keypress)="RestrictNegativeValues($event)" (keyup)="changeQtyValue(id,'Amount',$event)"
                                 autocomplete="off" #Expenseamt>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> {{TotalAmt| currency:Country2}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Remmrk">
                        <th mat-header-cell *matHeaderCellDef style="width:30%"> Narration </th>
                        <td mat-cell *matCellDef="let transaction; let id = index">
                          <input value="{{transaction.Remarks}}"
                                 class="form-control tableinputheight" matInput
                                 (keyup)="changeRemarks(id,'Remmrk',$event);"
                                 (keydown.enter)="DescriptionexpenseName(id,$event,transaction)"
                                 placeholder="Enter Remarks" autocomplete="off" #ExpenseRemarks>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>
                      <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef style="width:15%"> Actions </th>
                        <td mat-cell *matCellDef="let transaction; let id = index">
                          <button mat-icon-button>
                            <mat-icon data-toggle="tooltip" title="Drop" class="grab" (click)="Removeitem(id)">delete</mat-icon>
                          </button>
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                    </table>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="tab  position-sticky width-100p ">
          <div class="col-sm-12">
            <div class="card mb-3">
              <h5 class="card-header">
                Payment - Expense total amount to be paid : {{Paymentamount | currency:Country2}}
                <button style="float:right" class="btn btn-warning-default" data-toggle="tooltip" title="Add Payment details" (click)="AddPaymentDetailsNewgrid()"><i style="margin-right:1%" class="fa fa-money"></i>Add Payment</button>
              </h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 mt-1p">
                    <div class="row" heightAuto-300px>
                      <table style="width:98%" mat-table [dataSource]="dataSource3" class="custom-table withoutbackgroung search-table table-bordered">

                        <ng-container matColumnDef="PaymentMode">
                          <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
                          <td mat-cell *matCellDef="let element;let id = index;" id="tablepress" (keypress)="DistanceODtablepress($event)" (keyup.enter)="enterPaymentMode(id)" (keyup.ArrowLeft)="arrowlefPaymentMode(id,$event,element)" (keyup.arrowright)="arrowrightPaymentMode(id,$event,element)" (keyup.ArrowDown)="arrowdownPaymentMode(id)" (keyup.ArrowUp)="arrowupPaymentMode(id)" [attr.contenteditable]="element.PaymentMode != '' || element.PaymentMode == ''" #PaymentMode>
                            <mat-select #PaymentModee (focus)="PaymentModee.open()"
                                        (keyup.enter)="savePaymentMode(id,$event,element)" (openedChange)="someMethodPaymentMode(id,$event,element)"
                                        (selectionChange)="PaymentChangee(id,$event,element);PaymentModee.close()" value="{{element.PaymentMode}}">
                              <input matInput #inputpaymode class="search" (keyup.arrowright)="arrowrightPaymentModee(id,$event,element)"
                                     (input)="FIlterdatapaymode($event.target.value)" autocomplete="off">
                              <mat-option *ngFor="let Paymentsmode of Paymentsmodes" [value]="Paymentsmode.Value">
                                {{Paymentsmode.Text}}
                              </mat-option>
                            </mat-select>
                          </td>
                          <td mat-footer-cell *matFooterCellDef> </td>
                        </ng-container>
                        <ng-container matColumnDef="BankName">
                          <th mat-header-cell *matHeaderCellDef>Bank Name</th>
                          <td mat-cell *matCellDef="let element;let id = index">
                            <input (keyup)="BankNameenter(id,'BankName',$event)" matInput value="{{element.BankName}}" maxlength="100"
                                   [disabled]="element.PaymentMode =='Cash'" type="text" class="form-control tableinputheight"
                                   (keypress)="nameField($event)"
                                   (keyup.ArrowLeft)="arrowlefBankName(id,$event,element)" (keyup.arrowright)="arrowrightBankName(id,$event,element)"
                                   (keyup.ArrowDown)="arrowdownBankName(id,$event,element)" (keyup.ArrowUp)="arrowupBankName(id,$event,element)"
                                   (keyup.enter)="DescriptionBankName(id,$event,element)" autocomplete="off" #BankName>
                          </td>
                          <td mat-footer-cell *matFooterCellDef> </td>
                        </ng-container>
                        <ng-container matColumnDef="InstrumentNumber">
                          <th mat-header-cell *matHeaderCellDef>Instrument Number</th>
                          <td mat-cell *matCellDef="let element;let id = index">
                            <input (keyup)="InstrumentNumberenter(id,'InstrumentNumber',$event)"
                                   matInput value="{{element.InstrumentNumber}}" maxlength="15"
                                   [disabled]="element.PaymentMode =='Cash'" type="text" class="form-control tableinputheight"
                                   (keypress)="numberOnly($event)" (keyup.ArrowLeft)="arrowlefInstrumentNumber(id,$event,element)"
                                   (keyup.arrowright)="arrowrightInstrumentNumber(id,$event,element)"
                                   (keyup.ArrowDown)="arrowdownInstrumentNumber(id,$event,element)"
                                   (keyup.ArrowUp)="arrowupInstrumentNumber(id,$event,element)"
                                   (keyup.enter)="DescriptionInstrumentNumber(id,$event,element)" autocomplete="off" #InstrumentNumber>
                          </td>
                          <td mat-footer-cell *matFooterCellDef> </td>
                        </ng-container>

                        <ng-container matColumnDef="InstrumentDate">
                          <th mat-header-cell *matHeaderCellDef>Instrument Date</th>
                          <td mat-cell *matCellDef="let element;let id = index">
                            <input id="tablepress" (keypress)="DistanceODtablepress($event)"
                                   matInput type="date" value="{{element.Instrumentdate}}"
                                   class="form-control tableinputheight"
                                   max="{{MINExpiryDate}}"
                                   [disabled]="element.PaymentMode =='Cash' || element.PaymentMode =='Debit card'|| element.PaymentMode =='Credit Card'"
                                   (change)="dateofinstrument(id,'Instrumentdate',$event)"
                                   (keyup.ArrowLeft)="arrowlefInstrumentdate(id,$event,element)"
                                   (keyup.arrowright)="arrowrightInstrumentdate(id,$event,element)"
                                   (keyup.ArrowDown)="arrowdownInstrumentdate(id,$event,element)"
                                   (keyup.ArrowUp)="arrowupInstrumentdate(id,$event,element)"
                                   (keyup.enter)="DescriptionInstrumentdate(id,$event,element)" #InstrumentDate>
                          </td>
                          <td mat-footer-cell *matFooterCellDef> </td>
                        </ng-container>

                        <ng-container matColumnDef="ExpiryDate">
                          <th mat-header-cell *matHeaderCellDef>Expiry Date</th>
                          <td mat-cell *matCellDef="let element;let id = index">
                            <input id="tablepress" (keypress)="DistanceODtablepress($event)"
                                   matInput type="date" value="{{element.Expirydate}}"
                                   min="{{maxInstrumentDate}}"
                                   [disabled]="element.PaymentMode =='Cash'|| element.PaymentMode =='Demand Draft'"
                                   class="form-control tableinputheight" (keyup.ArrowLeft)="arrowlefInstrumentExpiryDate(id,$event,element)"
                                   (keyup.arrowright)="arrowrightInstrumentExpiryDate(id,$event,element)"
                                   (keyup.ArrowDown)="arrowdownInstrumentExpiryDate(id,$event,element)"
                                   (keyup.ArrowUp)="arrowupInstrumentExpiryDate(id,$event,element)"
                                   (change)="dateExpirydate(id,'Expirydate',$event)" (keyup.enter)="DescriptionExpirydate(id,$event,element)"
                                   #ExpiryDate>
                          </td>
                          <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
                        </ng-container>
                        <ng-container matColumnDef="Branch">
                          <th mat-header-cell *matHeaderCellDef>Branch</th>
                          <td mat-cell *matCellDef="let element;let id = index">
                            <input matInput value="{{element.BankBranch}}" [disabled]="element.PaymentMode =='Cash' || element.PaymentMode =='Debit card' || element.PaymentMode =='Credit Card'" class="form-control tableinputheight" (keyup)="Branchvalue(id,'BankBranch',$event)" (keypress)="nameField($event)" maxlength="50" (keyup.ArrowLeft)="arrowleftBranch(id,$event,element)" (keyup.arrowright)="arrowrightBranch(id,$event,element)" (keyup.ArrowDown)="arrowdownBranch(id,$event,element)" (keyup.ArrowUp)="arrowupBranch(id,$event,element)" (keyup.enter)="DescriptionBranch(id,$event,element)" autocomplete="off" type="text" #Branch>
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <ng-container matColumnDef="Amount">
                          <th mat-header-cell *matHeaderCellDef>Amount</th>
                          <td mat-cell *matCellDef="let element;let id = index">
                            <input type="text" matInput value="{{element.Amount}}" class="form-control tableinputheight"
                                   (keypress)="numberOnly($event)" (keyup)="Amountcheck(id,'Amount',$event)"
                                   (keyup.ArrowLeft)="arrowleftAmount(id,$event,element)"
                                   (keyup.arrowright)="arrowrightAmount(id,$event,element)"
                                   (keyup.ArrowDown)="arrowdownAmount(id,$event,element)"
                                   (keyup.ArrowUp)="arrowupAmount(id,$event,element)"
                                   (keyup.enter)="DescriptionAmount(id,$event,element)"
                                   autocomplete="off" #Amount>
                          </td>
                          <td mat-footer-cell *matFooterCellDef>
                            <strong>
                              {{PaymentTotalAmount() | currency:Country2}}
                            </strong>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="Action">
                          <th mat-header-cell *matHeaderCellDef>Action</th>
                          <td mat-cell *matCellDef="let element;let id = index">
                            <button type="button" mat-icon-button (click)="removePaytype(id)">
                              <mat-icon data-toggle="tooltip" title="Remove" class="grab">delete</mat-icon>
                            </button>
                          </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns3;sticky: true"></tr>
                        <tr mat-row *matRowDef="let element;  let even = even; columns: displayedColumns3"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumns3;"></tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 m-3">
      <div class="col-sm-12 pb25 ml-12p">
        <div class="col-sm-4  sub-section btn-wrap f-r">
          <button type="button" class="btn btn-warning-default" (click)="clear(ExpensetranForm)"><strong>Cancel</strong></button>
          <button [disabled]="isNextButton" class="success btn btn-primary" (click)="Submit(ExpensetranForm)">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>



<div class="modal" role="dialog" [ngStyle]="{'display':accesspopup1}">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalcloseAccessOk()">&times;</button>
        <h4 class="modal-title">Expense Transaction - View Access</h4>
      </div>
      <div class="modal-body">
        <table align="center" class=" table custom-table">
          <thead>
            <tr>
              <th>Add</th>
              <th>Edit</th>
              <th>Delete</th>
              <th>Export</th>
              <th>Print</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of accessdata; index as i">
              <td><mat-checkbox [(checked)]="x.Add" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Edit" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Delete" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Export" disabled></mat-checkbox></td>
              <td><mat-checkbox [(checked)]="x.Print" disabled></mat-checkbox></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" data-dismiss="modal" autofocus (click)="modalcloseAccessOk()">Ok</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" role="dialog" [ngStyle]="{'display':Expensemasterpopup}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="Expensemasterpopupclose()">&times;</button>
        <h4 class="modal-title">Expense Master</h4>
      </div>
      <div class="modal-body">
        <form #ExpenseMasterForm="ngForm">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-10">
                    <mat-form-field appearance="outline">
                      <mat-label>Description</mat-label>
                      <input autocomplete="off" [(ngModel)]="M_Description" name="Desc" matInput placeholder="Enter Description" required>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-2" style="margin-top: 1%;">
                    <button class="btn btn-warning-default" (click)="Gethelp()">Help</button>
                  </div>
                </div>

              </div>
              <div class="col-sm-3" style="margin-left: 5%;width: 10%;">
                <mat-form-field appearance="outline" *ngIf="Hideupdatebtn">
                  <mat-label>Is Active</mat-label>
                  <mat-select required [(ngModel)]="activecol" name="statusact">
                    <mat-option value="Yes">Yes</mat-option>
                    <mat-option value="No">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4" *ngIf="hidestatustable">
                <table mat-table [dataSource]="dataSourcemaster" class="custom-table withoutbackgroung search-table table-bordered">
                  <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let transaction"> <mat-checkbox (click)="selectitem(transaction)"></mat-checkbox> </td>
                  </ng-container>
                  <ng-container matColumnDef="Description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let transaction">{{transaction.Description}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Statuss">
                    <th mat-header-cell *matHeaderCellDef> IsActive </th>
                    <td mat-cell *matCellDef="let transaction">{{transaction.Status}}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsMaSTER;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsMaSTER;"></tr>
                </table>
              </div>
            </div>
          </div>
        </form>



      </div>
      <div class="modal-footer" style="border:none">
        <div class="row" style="margin-top: 1%;margin-bottom:1%">
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4">


          </div>
          <div class="col-sm-4">
            <button class="btn btn-warning-default" style="margin-right:1%" (click)="Cancelhelp(ExpenseMasterForm)">Cancel</button>
            <button *ngIf="Hideupdatebtn" class="btn btn-danger" style="margin-right:1%" (click)="Deletedata(ExpenseMasterForm)">Delete</button>
            <button *ngIf="Hideupdatebtn" class="btn btn-primary" (click)="Updatedata(ExpenseMasterForm)">Submit</button>
            <button *ngIf="Hidesubmitbtn" class="btn btn-primary" (click)="Submitdata(ExpenseMasterForm)">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



