<form #ExpenseMasterForm="ngForm">
  <div class="col-sm-12 borderline" style="margin-left:1%">
    <div class="row">
      <h6>Expense Master</h6>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-10">
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <input autocomplete="off" [(ngModel)]="M_Description" name="Desc" matInput placeholder="Enter Description" required>
            </mat-form-field>
          </div>
          <div class="col-sm-2" style="margin-top: 1%;">
            <button class="btn btn-warning-default" (click)="Gethelp()">Help</button>
          </div>
        </div>
        <div class="row" style="margin-top: 1%;margin-bottom:1%">
          <div class="col-sm-4">
            <button class="btn btn-warning-default" (click)="Cancelhelp(ExpenseMasterForm)">Cancel</button>
          </div>
          <div class="col-sm-4">
            <button *ngIf="Hideupdatebtn" class="btn btn-primary" (click)="Updatedata(ExpenseMasterForm)">Submit</button>
            <button *ngIf="Hidesubmitbtn" class="btn btn-primary" (click)="Submitdata(ExpenseMasterForm)">Submit</button>
           
          </div>
          <div class="col-sm-4" *ngIf="Hideupdatebtn">
            <button  class="btn btn-danger" (click)="Deletedata(ExpenseMasterForm)">Delete</button>
          </div>
        </div>
      </div>
      <div class="col-sm-3" style="margin-left: 5%;width: 10%;">
        <mat-form-field appearance="outline" *ngIf="Hideupdatebtn">
          <mat-label>Is Active</mat-label>
          <mat-select required [(ngModel)]="activecol" name="statusact">
            <mat-option value="Yes">Yes</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-4" *ngIf="hidestatustable">
        <table mat-table [dataSource]="dataSource" class="custom-table withoutbackgroung search-table table-bordered">
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let transaction"> <mat-checkbox (click)="selectitem(transaction)"></mat-checkbox> </td>
          </ng-container>
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let transaction">{{transaction.Description}} </td>
          </ng-container>
          <ng-container matColumnDef="Statuss">
            <th mat-header-cell *matHeaderCellDef> IsActive </th>
            <td mat-cell *matCellDef="let transaction">{{transaction.Status}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</form>
