<div style="margin-left:10%; margin-right:10%;margin-top:20px;">
  <div id="frmContact">
    <div id="mail-status"></div>
    <div>
      <label style="padding-top:20px;">Mobile Number With Country Code : (91XXXXXXXXXX)</label>
      <span id="userName-info" class="info"></span><br />
      <input type="text" name="mobile" id="mobile" placeholder="91XXXXXXXXXX" class="demoInputBox">
    </div>
    <div>
      <label>Message</label>
      <span id="content-info" class="info"></span><br />
      <textarea name="content" id="content" class="demoInputBox" cols="60" rows="6"></textarea>
    </div>
    <div>
      <button name="submit" class="btnAction" (click)="sendContact();">Send</button>
    </div>
  </div>
</div>
